main {
  position: relative;
  @media (min-width: 375px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .profile-image {
    margin-top: 4rem;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 5rem;
    width: 100%;
    
    .image-container {
      border-radius: .5rem;
      overflow: hidden;
      object-fit: cover;
      margin: auto;
      width: 70%;
      img {
        width: 100%;
      }
    }
    .buttons {
      background-color: #fff;
      border-radius: 10rem;
      display: flex;
      position: absolute;
      top: 90%;
      left: 40%;
      overflow: hidden;
      box-shadow: 0 10px 20px rgba(0 0 0 / .25);

      @media (min-width: 375px) {
        top: 95%;
        left: 25%;
      }

      button {
        padding: .7rem .9rem .5rem;
        background-color: #fff;
        border: none;
        @media (min-width: 375px) {
          padding: 1rem 1.2rem .9rem;
        }
      }
    }

    @media (min-width: 375px) {
      width: 50%;
      margin: 5rem 2rem;
    }
  }
  

  .profile-image::before {
    content: "";
    width: 90%;
    height: 100vh;
    background-image: url("../../assets/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -12%;
    left: 5%;
    z-index: -1;
  }

  .context {
    position: relative;
    text-align: center;
    margin: 0 2rem;
    p {
      line-height: 140%;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 700;
    }

    @media (min-width: 375px) {
      position: absolute;
      left: 10%;
      text-align: start;
      width: 40%;
      p {
        font-size: 2rem;
      }
      .name {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
  .context > :nth-child(3) {
    color: var(--primary-c2);
  }
  .context::before {
    content: "";
    background-image: url("../../assets/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 5vh;
    position: absolute;
    top: -11%;
    left: 42%;

    @media (min-width: 375px) {
      height: 13vh;
      top: -25%;
      left: 13%;
    }
  }
}
.curve-container {
  position: absolute;
  top: 80%;
}